body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav-container {

  display: flex;
  justify-content: space-between;
  align-items: center;

}

.active > button {
  background: purple;
  color:white;
  font-size: 24;
}

.plans {
  background-color: pink;
  line-height: 3;
  text-align: center;

}

.expenses{
  background-color: pink;
  line-height: 3;
  text-align: center;
}

.income{
  background-color: pink;
  line-height: 3;
  text-align: center;
}

.categories{
  background-color: pink;
  line-height: 3;
  text-align: center;
}

.container{

  line-height: 2;
  text-align: start;
}

.home{
  background-color: pink;
  line-height: 2.5;
  text-align: center;
  color:blueviolet
}